body
{
	background-color:#AA7E39;
	margin:0px;
	font-family: 'Lato', sans-serif;
}
nav
{
	background-color:#AA5D39;
	font-size:28px;
	font-family: 'Oswald', sans-serif;
}

footer
{
	background-color:#AA5D39;

}

h2
{
	font-family: 'Oswald', sans-serif;
}

h1
{
	font-family: 'Oswald', sans-serif;
}

p
{
	font-family: 'Lato', sans-serif;
}

.carousel
{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	max-width:70%;
}

.container
{
	margin-left:auto;
	margin-right:auto;
	max-width:70%;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}

.container2
{
	margin-left:auto;
	margin-right:auto;
	max-width:70%;
	text-align:left;
	margin-top:20px;
	margin-bottom:20px;
}

.footerContainer
{
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	color: #BDB2AD;
	background-color:#AA5D39;
}

.card1
{
	/*background-color:#2B4A6F;*/
	background-color:#72767C;
}

.card2
{
	background-color:#AA9339;
}



.blueBor
{
	border:solid 5px #72767C;
}


.jumbotron
{
	background-color:#BDB2AD;
	height:250px;
	max-width:70%;
	border:solid 5px #72767C;
}

@media(max-width:575px)
{
	.jumbotron
	{
		height:400px!important;
	}
}

@media(max-width:991px)
{
	.jumbotron
	{
		height:300px;
	}
}

#myimg:hover {
    content: url('../images/inLeisure/DSC_0114.jpg');
}

.MyBtn
{
	background-color:#AA5D39;
	font-size:28px;
	font-family: 'Oswald', sans-serif;
	color:#FFF;
	
}

.h2style
{
	color:#AA5D39;
	
	font-size:28px;
	font-family: 'Oswald', sans-serif;
}

.h4style
{
	color:#000!important;
	font-size:12px;
	font-family: 'Oswald', sans-serif;
}


.h3correct
{
	color:green;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
}

.h3wrong
{
	color:red;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
}

.claHov:hover
{
	opacity: 0.7;
}





