body
{
	background-color:lightgrey!important;
	font-family: 'Oswald', sans-serif!important;
}

p{
	padding:10px!important;
}

article img
{
	border:5px solid darkgreen!important;
	width:100%;
	margin-bottom:20px;
}

.logoBrand
{
	 max-width:100px; 
	 border:5px solid #252525;
}

.empty
{
	min-height:20px;
}
.jumbotron
{
	 min-height:200px!important;
}

.inthemiddle
{
	text-align:center;
}